<div class="ui center aligned middle aligned grid" style="height: 100%;">
  <div class="column" style="max-width: 550px;">
    <h1 class="ui violet center aligned header">
      404 Not Found
    </h1>
    <div class="ui stacked segment">
      <h3 class="ui header">We couldn't find the page..</h3>
      <p>
        Sorry, but the page you are looking for was either not found or does not exist. Try refreshing the page or click the button
        below to go back to the Homepage.
      </p>
      <button [routerLink]="['/']" class="big ui violet button">Take Me Home</button>
    </div>
  </div>
</div>